body{
   margin:0px;
   font-family:raleway,serif;
   font-size: 17px;
}
.image{
	   background:url('../images/backgrounds-blank-blue-953214.jpg') no-repeat center;
	   background-size:cover;
	   height:200px;
}

.heading{
	float:left;
	padding-top:30px;
}

.heading a{
	text-decoration:none;
	color:white;
}

.firstulist{
	margin-left:48%;
	padding-top:40px;
}

.dropbtn{
    background-color: transparent;
    color: white;
    padding:12px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	text-decoration:none;
	font-family:Roboto,serif;
	text-align:center;
	font-weight:bold;
}

.active{
	background-color:rgb(255, 102, 0);
	color:white;
	border-radius:8px;
}

.dropbtn:hover{
	border-bottom:2px solid rgb(255, 102, 0);
}

.strategy{
margin:auto;
text-align:center;
width:40%;
height:100px;
margin-top: 50px;
background-color:rgba(255, 102, 0,0.8);
border-radius:10px 10px;
}

.invstrategy{
padding-top: 40px;
font-size:50px;
color:black;
}

.main-navigation a
{
font-size:14px;
}
#content
 {
    padding: 60px 0 50px;
}
p {
    color: #525151;
}
.entry-content
 {
    display: block;
    margin: -22px 0px 30px;
}
.boxed-layout #colophon, .boxed-layout-small #colophon 
{
    margin-bottom: 0px;
}
.site-info .container :after
 {
    content: "Copyright © 2016-17 by Gary Peter Group";
}

.site-info .copyright
 {
    float: left;
    padding-top: 15px;
    display:none;
}

.site-info .container 
{
    margin-left: 45px;
   color: #525151; 
}
li {
    color: #525151;
}
#content 
{
    padding: 60px 0 50px !important;
}
body.custom-background { 
background-color: #e0e0e0; 
}
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
footer{
height:40px;
}
footer p{
background: linear-gradient(to right, rgba(40,108,154,1) 0%, rgba(38,117,207,1) 0%, rgba(40,159,210,1) 41%, rgba(40,159,210,1) 56%, rgba(40,108,154,1) 100%);
height:40px;
padding-top:5px;
padding-left:8px;
padding-bottom:20px;
font-size: 17px;
color:white;
font-family: raleway, serif;
}